.companions-filter {
  padding: 25px;
  padding-bottom: 28px;
  background-color: $background--light;

  @media (min-width: $tablet-width) {
    padding: 40px;
    padding-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    padding: 0;
    margin-left: 85px;
  }
}
