.companions-wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 77px;
  background-color: $background--light;

  @media (min-width: $tablet-width) {
    padding: 0 40px 110px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.companions-wide__list {
  @include reset-list;
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.companions-wide__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.companions-wide__show-more-btn {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 64px;
    margin-bottom: 68px;
  }
}
