.country-clear-btn {
  position: absolute;
  right: -10px;
  top: -9px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: $background--light;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 1px;
    background-color: $input-border;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 1px;
    background-color: $input-border;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &--dropdown {
    position: absolute;
    left: calc(100% - 30px);
    top: 10px;
    color: $color-white;
    opacity: 0.3;
    background-color: transparent;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.1;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 13px;
      height: 1px;
      background-color: $color-white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 13px;
      height: 1px;
      background-color: $color-white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: transparent;
    width: 17px;
    height: 17px;

    &::before {
      width: 22px;
      height: 2px;
    }

    &::after {
      width: 22px;
      height: 2px;
    }

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.05;
    }

    &--dropdown {
      position: absolute;
      left: 325px;
      top: 25px;

      &:hover,
      &:focus {
        opacity: 1;
      }

      &:active {
        opacity: 0.1;
      }
    }
  }

  @media (min-width: $desktop-width) {
    right: 5px;

    &--dropdown {
      left: 687px;
    }
  }
}
