.count-btn {
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;
  opacity: 0.2;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }

  &--minus {
    left: 0;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary--light;
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 20px;
      }
    }
  }

  &--plus {
    right: 0;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary--light;
    }

    &::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 14px;
      background-color: $color-primary--light;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (min-width: $tablet-width) {
      &::before {
        width: 20px;
      }

      &::after {
        content: "";
        height: 20px;
      }
    }
  }

  &:hover,
  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.1;
  }
}
