.header {
  position: relative;
  background-color: $button-text;

  @media (min-width: $desktop-width) {
    padding: 45px 60px 54px 60px;

    &--index {
      padding-bottom: 70px;
    }

    &--on-scroll {
      padding: 18px 60px 13px 60px;
      background-color: $color-white;
    }
  }
}

.header--on-scroll .logo--white {
  display: none;
}

.header--on-scroll .logo--blue {
  display: block;
}

.header__wrapper {
  position: relative;
  display: flex;
  padding: 27px 25px 0;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 38px 40px 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    width: 950px;
  }

  &--no-js {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    margin-right: 141px;
  }
}

.header__logo {
  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}

.header__site-list {
  position: relative;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    margin-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      transform: translateY(-50%);
      left: -100px;
      display: block;
      width: 60px;
      height: 2px;
      border-radius: 1px;
      background-color: $color-white;
    }

    &--on-scroll {
      &::before {
        left: -85px;
        width: 45px;
        background-color: $color-primary;
      }
    }
  }
}

.header__button {
  display: inline-block;

  @media (min-width: $tablet-width) {
    width: 25%;
    order: 2;
    padding-left: 17px;
    padding-right: 19px;
    padding-top: 10px;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
