.navigation {
  display: none;

  &--no-js,
  &--open {
    display: block;
    padding: 28px 25px 40px 27px;
    background-color: $color-white;

    @media (min-width: $tablet-width) {
      padding: 40px 40px 85px 40px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--sticky {
    padding-bottom: 23px;
  }
}

.navigation__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.navigation__header {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 72%;
    order: 1;
    margin-bottom: 0;
  }
}

.navigation__button {
  &--sticky {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 25%;
    order: 2;
    padding-left: 17px;
    padding-right: 19px;
    padding-top: 10px;
    padding-bottom: 9px;

    &--sticky {
      display: block;
    }
  }
}

.navigation__button-close {
  &--no-js {
    display: none;
  }
}

.navigation__logo {
  @media (min-width: $tablet-width) {
    padding-top: 6px;
  }
}

.navigation__list {
  margin-top: 64px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-top: 85px;
    margin-bottom: 0;
    padding: 0 57px;
    width: 100%;
  }

  &--sticky {
    display: none;
  }
}

.navigation__contact-info {
  margin-top: 64px;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    width: 100%;
    order: 4;
    margin: 155px 0 153px 5px;
  }

  &--sticky {
    display: none;
  }
}

.navigation__social {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    order: 5;
    justify-content: flex-start;
    padding: 0 57px 0 83px;
  }

  &--sticky {
    display: none;
  }
}
