.navigation-toggle-btn {
  display: block;
  width: 25px;
  height: 11px;
  position: relative;
  top: -3px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &--open {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 3px;
      background-color: $color-white;
      top: 0;
      right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 3px;
      background-color: $color-white;
      top: 8px;
      right: 0;
    }

    @media (min-width: $tablet-width) {
      top: calc(50px + 11px);
    }
  }

  &--close {
    width: 19px;
    height: 19px;
    top: 10px;
    opacity: 0.1;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 25px;
      height: 2px;
      border-radius: 3px;
      background-color: $color-grey;
      top: 0;
      right: 0;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 25px;
      height: 2px;
      border-radius: 3px;
      background-color: $color-grey;
      top: 0;
      right: 0;
      transform: rotate(-45deg);
    }

    @media (min-width: $tablet-width) {
      top: 25px;
    }

    &:hover,
    &:focus {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.05;
    }
  }

  &--no-js {
    display: none;
  }

  &--sticky {
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 3px;
      background-color: $color-grey--light;
      top: 0;
      right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 3px;
      background-color: $color-grey--light;
      top: 8px;
      right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    right: calc(50% - 12px);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
