.social {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.social__item {
  &--nav {
    &:not(:last-child) {
      margin-right: 25px;
    }

    &:first-child {
      margin-right: 28px;
    }

    @media (min-width: $tablet-width) {
      &:not(:last-child) {
        margin-right: 34px;
      }

      &:first-child {
        margin-right: 37px;
      }

      &:nth-child(2) {
        padding-top: 4px;
      }
    }
  }
}

.social__link {
  &--yellow {
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 45px;
    height: 45px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $color-secondary;
    }

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;

      &::before {
        width: 60px;
        height: 60px;
      }
    }

    &:hover,
    &:focus {
      &::before {
        background-color: $color-secondary--dark;
      }
    }
  }
}

.social__icon {
  fill: $color-grey--light;

  &--blue {
    position: absolute;
    top: calc(50% + 1px);
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $color-primary--light;
  }

  @media (min-width: $tablet-width) {
    &--blue {
      top: 50%;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--instagram {
      width: 24px;
      height: 24px;
    }
  }
}

.social__link--yellow:active .social__icon {
  opacity: 0.3;
}
