.toggle-options-btn {
  position: relative;
  height: 30px;
  width: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $color-primary--light;
  }

  &--up {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid $color-primary--light;
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $color-primary--light;
    }

    &--up {
      &::before {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $color-primary--light;
        border-top: none;
      }
    }
  }
}
