.transport-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 68px;

  &--catalog {
    padding: 0;
    margin: 14px 0 0;
    justify-content: flex-start;
  }

  @media (min-width: $tablet-width) {
    padding: 0 75px;

    &--catalog {
      margin-top: 0;
      padding: 0;
    }
  }

  @media (min-width: 768px) and (max-width: 1439px) {
    &--catalog {
      flex-direction: column;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;

    &--catalog {
      padding: 0;
    }
  }
}

.transport-list__icon-item {
  position: relative;
  width: 32px;
  height: 33px;
  font-size: 0;

  &--catalog {
    border-radius: 50%;
    background-color: $background--light;
  }

  @media (min-width: $tablet-width) {
    width: 33px;

    &--catalog {
      background-color: transparent;
    }
  }
}

.transport-list__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.15;

  &--plane {
    left: calc(50% - 2px);
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    &--bus-index {
      left: calc(50% + 2px);
    }

    &--bike-index {
      left: calc(50% + 1px);
    }

    &--bike {
      top: calc(50% - 3px);
    }

    &--run-index {
      left: calc(50% - 1px);
    }

    &--run {
      top: calc(50% - 3px);
    }
  }

  @media (min-width: $tablet-width) {
    &--plane {
      left: 50%;
    }

    &--plane-index,
    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bus-index,
    &--bus {
      width: 17px;
      height: 21px;
    }

    &--bike-index,
    &--bike {
      width: 24px;
      height: 21px;
    }

    &--run-index,
    &--run {
      width: 20px;
      height: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    &--bus-index,
    &--bus {
      left: calc(50% + 2px);
    }

    &--bike-index,
    &--bike {
      left: calc(50% + 2px);
    }

    &--run-index,
    &--run {
      left: calc(50% + 1px);
    }
  }

  &--active {
    opacity: 1;
  }
}

.transport-list__icon-item:hover .tooltip {
  visibility: visible;
}
