$color-primary: #192144;
$color-primary--light: #1d2e5b;
$color-primary--lighten: #132576;
$color-primary--dark: #121936;
$color-primary--darken: #141b3b;

$color-secondary: #ffd74b;
$color-secondary--dark: #ffbd30;

$color-tertiary--dark: #f26926;
$color-tertiary: #ff8d30;
$color-tertiary--light: #ffa530;

$button-text: #161c35;

$offline: #f97676;
$online: #81e31e;

$like-heart: #f02323;
$like-background: #f9eaea;
$like-background--active: #f9d8d8;

$background--darken: #d4d9eb;
$background--dark: #dfe3f0;
$background: #e2e5f2;
$background--light: #edeff6;
$background--lighten: #f3f4f8;

$input-border: #cbced9;
$input-border--hover: #959bb2;
$input-border--error: #f47e7e;
$error-background: #ffefef;
$error-text: #ff0000;

$collapse-button: #d6daed;
$collapse-button--hover: #c8cee8;
$profile-btn-hover: #d1d7e9;
$checkbox-active: #e2e5f1;

$border: #d6d9e6;
$border--dark: #aeb4cb;

$color-black: #000000;
$color-grey: #444444;
$color-grey--lighten: #808285;
$color-grey--light: #cccccc;
$color-white: #ffffff;

$tooltip: #101d41;
$calendar-border: #ff5c23;
$filter-button-active: #f3c72b;
